# Created by https://www.toptal.com/developers/gitignore/api/angular
# Edit at https://www.toptal.com/developers/gitignore?templates=angular

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/
.vscode/
.editorconfig

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/

index.html
index.php
package.json
package-lock.json
testcss.css
testcss.html
angular-basics/
css/
directives/
directives-2/
directives-zoo/
#event-binding-1/
hooks-1/
hooks-2/
js-exercice1/
js-exercice-forms/
live-ala-1/
my-firt-app/
prj-tool/
property-binding/
services/
sty-modules/
