*.vscode
*.angular
*.editorconfig

index.html
index.php
package.json
package-lock.json
testcss.css
testcss.html
angular-basics/
css/
directives/
directives-2/
directives-zoo/
#event-binding/
hooks-1/
hooks-2/
js-exercice1/
js-exercice-forms/
live-ala-1/
my-firt-app/
prj-tool/
property-binding/
services/
sty-modules/
